.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  min-height: 300px;
  height: 100%;
}

.cartContainer {
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emptyCartText {
  font-size: 1.6rem;
  margin: 0;
}

.itemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cartTitle {
  font-size: 1.1rem;
}

.itemCount {
  font-size: 1.1rem;
}

.itemName {
  font-size: 1.1rem;
}

.itemPrice {
  font-size: 1.1rem;
}

.orderSubtotalText {
  font-size: 1.1rem;
}

.orderSubtotal {
  font-size: 1.1rem;
}

.checkoutButton {
  margin-top: 10px;
}