.root {
  width: 1200px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(228, 228, 228);
  justify-content: center;
  margin: 0px auto 20px auto;
}

.loading {
  min-height: calc(100vh - 360px);
}

.categoryContainer {
  margin: auto;
  margin-bottom: 20px;

}

.menuItemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.menuItemsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.categoryName {
  margin: 0 0 0 0px;
  font-size: 2.3rem;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .root {
    width: 100%;
  }
  .categoryName {
    /* margin-left: 20px; */
  }
  .categoryContainer {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .root {
    margin: 0; 
  }
}