.navBar {
  height: 80px;
  width: 100vw;
  background-color: #731009;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.logoWrapper {
  width: 100%;
}

.logo {
  margin: 0 0 0 10px;
  padding: 0;
  font-size: 2rem;
  color: white;
}

.linksWrapper {
  margin-right: 50px;
}

.links {
  width: 400px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.linkItem, .linkItemSpecial, .linkItemLogo {
  font-size: 1.5rem;
  color:white;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

.linkItem:hover {
  background-color: rgb(216, 40, 9);
  border-radius: 4px;
}

.cart {
  height: 35px;
  fill: white;
}

.cartWrapper {
  display: flex;
  color: white;
  font-size: 1.5rem;
  padding: 5px 10px 5px 10px;
  width: 100%;
  justify-content: space-between;
}

.total {
  margin: 0 0 0 10px;
  padding: 0;
}

.linkItemLogo {
  display: none;
}

@media (max-width: 650px) {

  .linkItemLogo {
    margin: 0;
    padding: 0;
    display: initial;
  }

  .logoWrapper {
    display: none;
  }

  .specialLink {
    display: none;
  }

  .linksWrapper {
    display: flex;
    width: 100%;
    /* margin: 0 20px 0 20px; */
    padding: 0;
  }

  .links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .linkItem {
    width: fit-content;
    margin: 0;
    padding: 0;
  }
  
  .linkItemSpecial {
    display: none;
  }

  .cartWrapper {
    /* background-color: #731009;
    position: fixed; */
    padding: 0;
  }

  .total {
    display: none;
  }
}