.root {
  background-image: url('../public/hero-oven.jpg');
  height: 500px;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.heroTextWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 100px 0 0 100px;
  padding: 0;
  width: 500px;
}

.heroText {
  margin: 0;
  margin: 5px 0 5px 0;
  padding: 0 20px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  transform: rotate(-5deg);
  background-color: #7f2c16;
  width: fit-content;
}

.heroTextB {
  margin: 0;
  margin: 10px 0 5px 0;
  padding: 0 20px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  transform: rotate(-5deg);
  background-color: #7f2c16;
  width: fit-content;
}

.heroBtn {
  height: 60px;
  width: 230px;
  background-color: green;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  margin-top: 30px;
}

.heroBtn:hover {
  background-color: rgb(56, 79, 12);
}

@media (max-width: 1240px) {
  .root {
    background-position: -250px 0px;
    width: 100vw;  
  }
}

@media (max-width: 1000px) {
  .root {
    background-position: -350px 0px;
    width: 100vw;  
  }
  .heroTextWrapper {
    /* margin-left: 100px; */
  }
  .heroText {
    font-size: 2rem;
  }
  .heroTextB {
    font-size: 2rem;
  }
}

@media (max-width: 880px) {
  .root {
    background-position: -450px 0px;
    width: 100vw;  
  }
}

@media (max-width: 780px) {
  .root {
    background-position: -550px 0px;
    width: 100vw;  
  }
}

@media (max-width: 680px) {
  .root {
    background-position: -650px 0px;
    width: 100vw;  
  }
}

@media (max-width: 580px) {
  .root {
    background-position: -750px 0px;
    width: 100vw;  
  }
}

@media (max-width: 580px) {
  .root {
    background-position: -750px 0px;
    width: 100vw;  
  }
  .heroTextContainer {
    align-items: flex-end;
  }
  .heroTextWrapper {
    align-items: center;
    margin: 70px 0 0 0;
    padding: 0;
    width: 100%;
  }
}

@media (max-height: 440px) {
  .heroTextWrapper {
    margin: 50px 0 0 100px;
  }
}

@media (max-height: 390px) {
  .heroTextWrapper {
    margin: 20px 0 0 100px;
  }
}